*{
  margin: 0;
/*   background-color: black; */
}
body{
  background-image: url('https://i.pinimg.com/736x/1a/2e/0d/1a2e0d78801c8465b7abf04e67686e52--dark-skies-pixel-art.jpg');
  background-size: cover;
  background-position: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
}

.button-container {
  margin: 1.25rem; 
}

.post-button {

  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.post-button:hover {
  background-color: #0056b3;
}

 .button2 {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button2::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button2:hover::before {
  scale: 3;
}

.button2:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button2:active {
  scale: 1;
}



input {
  background-color: #333; 
  color: #fff; 
  border: 1px solid #555; 
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}


select {
  background-color: #333;
  color: #fff; 
  border: 1px solid #555; 
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

label {
  color:  white;
}




.login-box {
  width: 400px;
  padding: 40px;
  background-color: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center; /* Alinea el contenido al centro */
}

.login-box label {
  color: white;
}

.create-form {
  margin-top: 20px;
}

.uwu {
  color: #ffffff; 
}


.ui.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Ttitul {
  color:white;
  padding-top: 1rem;
}